* {
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: 220px 1fr;
}

body.cart-page {
  grid-template-columns: 1fr;
}

header {
  grid-column: 1 / -1;
}

h1 {
  text-align: center;
  margin-top: 20px;
}
nav {
  display: flex;
  justify-content: end;
  padding: 10px;
}
nav a {
  margin-left: 10px;
  text-decoration: none;
  color: #333;
}
nav a:hover {
  text-decoration: underline;
}

#contenedor-productos {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.producto {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

img.producto-imagen {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.producto-carrito {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 0px 10px;
}

#total-carrito {
  display: flex;
  font-weight: bold;
  margin-top: 20px;
  justify-content: end;
}

.producto-subtotal {
  display: flex;
  justify-content: end;
  margin-left: auto;
  font-weight: bold;
}

.categoria-boton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.categoria-boton:hover {
  background-color: #ddd;
}

#inputBusqueda {
  padding: 10px;
  margin: 10px;
  width: calc(100% - 40px);
  border-radius: 5px;
  border: 1px solid #ccc;
}
